numpy==1.22.3
scipy==1.8.0
matplotlib==3.5.1
pymatgen==2022.4.26
BoltzTraP2==22.4.1
trimesh==3.11.2
meshcut==0.3.0
scikit-image==0.19.2
monty==2022.4.26
spglib==1.16.3
plotly==5.7.0
pyfftw==0.13.0
psutil==5.9.0
click==8.1.3
networkx==2.8
tabulate==0.8.9
