alabaster==0.7.12
apptools==4.5.0
ase==3.19.1
Babel==2.8.0
BoltzTraP2==20.2.1
certifi==2020.4.5.1
cftime==1.1.1.2
chardet==3.0.4
cmake==3.17.1
colorlover==0.3.0
configobj==5.0.6
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
docutils==0.16
envisage==4.9.2
idna==2.9
imageio==2.8.0
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.2.0
m2r==0.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mayavi==4.7.1
mdToRst==1.1.0
meshcut==0.2.1
mistune==0.8.4
mlabtex==0.2.0
monty==3.0.2
mpmath==1.1.0
netCDF4==1.5.3
networkx==2.4
numpy==1.18.2
numpy-stl==2.11.2
packaging==20.3
palettable==3.3.0
pandas==1.0.3
Pillow==7.1.1
plotly==4.6.0
PyDispatcher==2.0.5
pyface==6.1.2
Pygments==2.6.1
pymatgen==2020.4.2
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2019.3
PyWavelets==1.1.1
requests==2.23.0
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
snowballstemmer==2.0.0
spglib==1.14.1.post0
Sphinx==3.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sympy==1.5.1
tabulate==0.8.7
traits==6.0.0
traitsui==6.1.3
trimesh==3.6.30
urllib3==1.25.9
vtk==8.1.2
