numpy==1.21.3
scipy==1.7.1
matplotlib==3.4.3
pymatgen==2022.0.14
BoltzTraP2==20.7.1
trimesh==3.9.34
meshcut==0.2.1
scikit-image==0.18.3
monty==2021.8.17
spglib==1.16.2
plotly==5.3.1
pyfftw==0.12.0
psutil==5.8.0
click==8.0.3
networkx==2.6.3
tabulate==0.8.9
